<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style type="text/css">
    body {
      font-family: arial;
      font-size: 14px;
      color: #6B6B6A;
    }
    
    h3 {
      border-bottom: solid 1px #eee;
      text-shadow: #fff 1px 1px;
    }
    
    i {
      font-size: 11px;
      color: #000;
    }
    
    div {
      box-shadow: 0px 0px 6px 1px #ccc;
      border: 1px solid #eee; 
      background-color: #f8f8f8; 
      padding: 0 15px 15px 15px; 
      margin: 5px;
    }
    
    p {
      text-align: center;
      margin: -8px;
    }
  </style>
  </head>
  <body>
    <div>
      <h3>Bem-vindo ao GFP</h3><br/>
      Olá <%= @user.nome %>,<br/><br/>
      Obrigado por se cadastrar no GFP, à partir de agora você já pode usufruir de todos os recursos do sistema inteiramente de graça.<br/><br/>Sinta-se à vontade para nos enviar sugestões, críticas ou convidar seus amigos.<br><br>Aproveite!<br><br>
      <a href="<%= @link %>">Gerente Financeiro Pessoal</a>
    </div>
  </body>
</html>