/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@font-face {
	font-family: "MuseoSans300";
	src: url(/fonts/museosans_300-webfont.ttf);
}

.top {
	border-bottom: 1px solid #ccc;
	height: 85px;
}

.top div {	
	float: left;
	padding: 5px 0 0 0;
}

.top h1 {
	font-family: Arial, "Lucida Grande", Tahoma, "Sans Serif";
	color: #619327;
}

.top .user-info {
	float: right;
	margin: 15px 13px 0 0;
	text-align: right;
	color: #868686;
}

.top .user-info span {
	color: #619327;
}

.top .user-info hr {
	margin: 1px 0 5px 0;
}

.top .user-info sub {
	margin-right: -5px;
}

.footer {
	border-top: 1px solid #ccc;
	text-align: center;
	height: 30px;
	color: #868686;
}

.top, .footer {
	background-color: #f2f2f2;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;	
}

.body {
	clear: both;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-height: 1000px;
}

.alert {
	margin: 5px;
}