/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	background-image: url('/images/bg.png');
}

.top {
	border-bottom: 1px solid #ccc;
	height: 80px;
}

.top div {	
	/*float: left;*/
	padding: 10px;
}

.footer {
	border-top: 1px solid #ccc;
	text-align: center;
}

.top, .footer {
	background-color: #f2f2f2;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;	
}

.body {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-height: 1000px;
}