/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.top {
	border-bottom: 1px solid #ccc;
	height: 85px;
}

.top div {	
	float: left;
	padding: 5px 0 0 0;
}

.top div h1 {
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #619327;
}

.top div p {
	color: #868686;
}

.top .user-info {
	float: right;
	margin: 15px 13px 0 0;
	text-align: right;
	color: #868686;
}

.top .user-info span {
	color: #619327;
}

.top .user-info hr {
	margin:1px 0 5px 0;
}

.footer {
	border-top: 1px solid #ccc;
	text-align: center;
	height: 30px;
	color: #868686;
}

.top, .footer {
	background-color: #f2f2f2;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;	
}

.body {
	clear: both;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-height: 1000px;
}
